/*div{
	height: 250px;
	width:250px;
	background-color: pink;
	border:5px dotted blue;
	text-align: center;
}*/
/*.gradientbox{
	border-width:34px;
	-moz-border-image:url(traveller.jpeg)34/34px stretch;
	-webkit-border-image:url(traveller.jpeg)34/34px stretch;
	-o-border-image:url(traveller.jpeg)34 stretch;
	border-image:url(traveller.jpeg)34/34px stretch;
}
.stamp{
	border-width:34px;
	-moz-border-image:url(ugc.png)8/8px round;
	-webkit-border-image:url(ugc.png)8/8px round;
	-o-border-image:url(ugc.png)8 round;
	border-image:url(ugc.png)8/8px round;
}*/
.gradientbox{
	border-image: url(traveller.jpeg)34 34 34 34/34px 34px 34px 34px stretch stretch;
}